<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} {{#if equipped}}{{localize "characterMonitor.chatMessage.equipped"}}{{else}}{{localize "characterMonitor.chatMessage.unequipped"}}{{/if}} {{itemName}}
    </span>
</div>
