<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} {{#if attuned}}{{localize "characterMonitor.chatMessage.attunesTo"}}{{else}}{{localize "characterMonitor.chatMessage.breaksAttune"}}{{/if}}: {{itemName}}
    </span>
</div>
