<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} | {{spellSlot.label}} {{localize "characterMonitor.chatMessage.SpellSlots"}}: {{#if spellSlot.old includeZero=true}}{{spellSlot.old}}/{{spellSlot.max}} -> {{/if}}{{spellSlot.value}}/{{spellSlot.max}}
    </span>
</div>
