<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} {{#if prepared}}{{localize "characterMonitor.chatMessage.prepared"}}{{else}}{{localize "characterMonitor.chatMessage.unprepared"}}{{/if}} {{localize "characterMonitor.chatMessage.aSpell"}}: {{itemName}}
    </span>
</div>
